<h1>Teste de página INDEX na WELCOME CONTROLLER</h1>

<h3> <%= @teste %></h3>

<a href="/customers">Cadastro de Clientes</a>
<%= link_to 'Cadastro de Clientes', customers_path %>

<h3>
    <%= t('hello') %>
</h3>